p,figure,ul,li,body{
    margin:0; padding:0; list-style: none;
}

header{
    background-color: black;
    text-align: center;
    margin: 0 auto;
    a{
        color:white;
        padding:20px 30px; 
        display: inline-block;
        &.active{ color:yellow}
    }    
}

main{ width:80%; margin:60px auto;}


.insert{
    position:fixed;
    right:0; top:0;
    width:300px;
    background:yellow;
    padding:30px;
    border-radius:16px;
    display: none;

    &.active{display: block;}

    textarea,input{
        width:100%; 
        padding:10px; 
        margin:10px 0;
        box-sizing: border-box;
    }
    textarea{height:200px;}
}


.list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    gap: 40px;
    >div{
        width:23%;
        border-radius: 10px;
        background-color: #eee;
        box-sizing: border-box;
        padding:20px;
        b{font-size:1.2rem;}
        p{margin:20px 0;}
    }
}